body {
  font: 100% Outfit, sans-serif;
  color: #001c3a;
  margin: 0;
}
body p {
  margin: 0;
}
body .light {
  font-weight: 300;
}
body .bold {
  font-weight: bold;
}
body header #preheader {
  background-color: #e2001a;
}
body header #preheader p {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  padding: 1rem 0;
}
body header #preheader p span {
  margin-bottom: 0.5rem;
}
body header #preheader p a {
  color: #fff;
  text-decoration: underline;
  text-transform: capitalize;
}
body header #header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header #header #logo {
  margin: 0.5rem 0;
}
body header #header #logo img {
  width: 100%;
  max-width: 200px;
}
body header #header nav {
  margin: 0.5rem 0;
}
body header #header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
body header #header nav ul li {
  margin-right: 0.5rem;
}
body header #header nav ul li a {
  color: #e2001a;
  text-decoration: none;
}
body header #header nav ul li a:hover {
  text-decoration: underline;
}
body header #header nav ul li:last-child {
  margin-right: 0;
}
body header #header #social {
  margin: 0.5rem 0;
}
body header #header #social a {
  margin-right: 0.5rem;
  text-decoration: none;
}
body header #header #social a img {
  width: 100%;
  max-width: 25px;
}
body header #header #social a:last-child {
  margin-right: 0;
}
body main #slider .swiper {
  width: 100%;
  height: 600px;
}
body main #slider .swiper .swiper-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body main #slider .swiper .swiper-slide .content {
  height: 100%;
  display: flex;
  align-items: flex-end;
  background: rgb(226, 0, 26);
  background: linear-gradient(90deg, rgb(226, 0, 26) 0%, rgba(255, 255, 255, 0.1) 70%);
}
body main #slider .swiper .swiper-slide .content h2 {
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  max-width: 50%;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
body main #slider .swiper .swiper-pagination .swiper-pagination-bullet {
  border: 1px solid #fff;
  background: transparent;
  opacity: 1;
  margin: 0 1rem;
}
body main #slider .swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #fff;
}
body main #scrolldown {
  margin: 1rem 0;
  text-align: center;
}
body main #scrolldown a {
  text-decoration: none;
}
body main #scrolldown a img {
  width: 100%;
  max-width: 50px;
}
body main #nosotros {
  padding: 2rem;
}
body main #nosotros article {
  margin-bottom: 2rem;
}
body main #nosotros article .nosotros-wrapper_image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  border-radius: 5px;
}
body main #nosotros article .nosotros-wrapper_image .overlay {
  background: rgba(226, 0, 26, 0.5);
  height: 100%;
  border-radius: 5px;
  text-align: center;
}
body main #nosotros article .nosotros-wrapper_image .overlay img {
  width: 100%;
  height: 100%;
  max-width: 150px;
}
body main #nosotros article .number {
  background: #fff;
  width: max-content;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  position: relative;
  bottom: 30px;
  color: #e2001a;
  font-weight: bold;
}
body main #nosotros article .title {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
}
body main #nosotros article .description {
  color: #000;
  font-weight: 300;
}
@media (min-width: 768px) {
  body header #preheader p {
    flex-direction: row;
    justify-content: center;
  }
  body header #preheader p span {
    margin-right: 0.5rem;
    margin-bottom: 0;
  }
  body header #header {
    padding: 1rem 4rem;
    flex-direction: row;
    justify-content: space-between;
  }
  body main #slider .swiper .swiper-slide .content {
    background: linear-gradient(90deg, rgb(226, 0, 26) 0%, rgba(255, 255, 255, 0.1) 60%);
  }
  body main #slider .swiper .swiper-slide .content h2 {
    max-width: 40%;
    margin-bottom: 4rem;
    margin-left: 4rem;
  }
  body main #slider .swiper .swiper-pagination .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }
  body main #nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media (min-width: 1200px) {
  body header #header > #logo,
  body header #header > nav,
  body header #header > #social {
    width: 33.3333%;
  }
  body header #header > #social {
    text-align: right;
  }
  body main #slider .swiper .swiper-slide .content {
    background: linear-gradient(90deg, rgb(226, 0, 26) 0%, rgba(255, 255, 255, 0.1) 50%);
  }
  body main #slider .swiper .swiper-slide .content h2 {
    max-width: 20%;
  }
  body main #nosotros {
    max-width: 1024px;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
